.myList {
  position: relative;
  width: 466px;
  height: 30px;
  left: 58px;
  border: 1px solid #303f9f;
  border-radius: 2px;
}

@media all and (max-width: 670px) {
  .myList {
    width: 274px;
  }
}
