input {
  position: absolute;
  width: 1032px;
  height: 80px;
  left: 90px;
  top: 150px;
  background-color: #ffffff;
  border-radius: 20px;
  border: transparent;
}

input::placeholder {
  padding: 20px;
  font-size: 18px;
  color: black;
}

@media all and (max-width: 670px) {
  input {
    position: absolute;
    width: 354px;
    height: 40px;
    left: 3px;
    top: 130px;
    background-color: #ffffff;
    border-radius: 15px;
    border: transparent;
  }
}
