.card {
  position: relative;
  display: inline-block;
  height: 75%;
  border-radius: 15px;
  background-color: white;
  margin: 0 38px 26px 51px;
  text-align: center;
  box-shadow: 0 0 6px #9c9c9c;
  cursor: pointer;
}

.card img {
  border-radius: 15px 15px 0 0;
  width: 100.5%;
}

.card-container {
  margin: 0 auto;
}

.grey {
  color: grey;
  font-style: italic;
}

.icons {
  margin-bottom: 12px;
}
